<% if flash[:errors] %>
	<p style="color:red"> <%= flash[:errors] %> </p>
<% end %>

<% @messages.each do |message| %>

	<p> id: <%= message.id %>, message_text: <%= message.message_text %>, author: <%= message.author %> </p>

<% end %>

<%= form_for @message, :url => url_for(:controller => 'messages', :action => 'create') do |f| %>
	<%= f.text_area(:message_text, size: '50x10') %> <br>
	<%= f.submit "Post new message" %>
<% end %>
